.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #4a90e2, #ff6c47); /* Gradient background */
  background-size: 200% 200%;
  animation: gradientFlow 10s linear infinite;
}

.loginBox {
  background-color: #ffffff; /* White background */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 20px;
  text-align: center;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Dark text color */
}

/* Style the form inputs */
.loginBox input[type="email"],
.loginBox input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8; /* Light gray background */
}

/* Style the submit button */
.loginBox button {
  width: 100%;
  padding: 12px 20px;
  background-color: #4a90e2; /* Blue background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s, transform 0.3s;
}

.loginBox button:hover {
  background-color: #357ebd; /* Darker blue on hover */
  transform: translateY(-3px);
}

.nav-link:hover {
    display: inline-block; 
    background-color: #4a5767; 
    color: white; 
    border-radius: 5px; 
    padding: 1rem;
    transition: background-color 0.3s, color 0.3s; 
    width: 10vw;
    box-sizing: content-box;
    text-align: center;
}

.search__container {
    padding-top: 64px;
  }
  
  .search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
  }
  
  .search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  .search__input:hover,
  .search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
  }
  
  .button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  .button-28 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #3cef86 0, #34ae1b 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  
  .button-28:focus {
    box-shadow: #047c30 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-28:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #047c30 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: #047c30 0 3px 7px inset;
    transform: translateY(2px);
  }



.button-45 {
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
  }
  
  .button-45:active,
  .button-45:hover,
  .button-45:focus {
    outline: 0;
  }
  
  
  .button-45:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }
  
  .button-45:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
  }
  
  .button-45:active:hover,
  .button-45:focus:hover,
  .button-45:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }

  th.Actions,
  td.Actions {
    width: 70px; 
  }
  
.button-44 {
    align-items: center;
    background-color: #e7e9ff;
    background-position: 0 0;
    border: 1px solid #e2e0fe;
    border-radius: 11px;
    box-sizing: border-box;
    color: #2c5ed3;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word; 
  }
  
  .button-44:active,
  .button-44:hover,
  .button-44:focus {
    outline: 0;
  }
  
  
  .button-44:active {
    background-color: #2c5ed3;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }
  
  .button-44:hover {
    background-color: #e5e3ff;
    border-color: #a4b2fa;
  }
  
  .button-44:active:hover,
  .button-44:focus:hover,
  .button-44:focus {
    background-color: #2c5ed3;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }

  /* dark-mode.css */
.dark-mode {
  background-color: #000;
  color: #fff;
}

/* Add styles for specific components when dark mode is enabled */
.dark-mode .some-component {
  background-color: #333;
  color: #fff;
}

.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #4a90e2, #ff6c47); /* Gradient background */
  background-size: 200% 200%;
  animation: gradientFlow 10s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.start-content {
  text-align: center;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
}

.start-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.start-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s, transform 0.3s;
  width: 120px; /* Ensure button width is consistent */
  margin: 5px; /* Add some space between the buttons */
}

.start-button:hover {
  transform: translateY(-3px);
}

.user-button {
  background: #4a90e2; /* Blue background color */
  animation: buttonPulse 2s ease infinite;
}

.AdvanceUser-button {
  background: #d06ee3; /* purple background color */
  animation: buttonPulse 2s ease infinite;
}

.admin-button {
  background: #ff6c47; /* Orange background color */
  animation: buttonPulse 2s ease infinite reverse;
}

.filter-overlay {
  position: fixed;
  top: 0;
  left: 35%;
  width: 30%; /* Cover the entire viewport horizontally */
  height: 80%; /* Cover the entire viewport vertically */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-content {
  padding: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
  margin-bottom: 15px;
}

.filter-button {
  background: #d06ee3; /* purple background color */
  animation: buttonPulse 2s ease infinite;
}